---
layout: jwblogdetail
---


<div class="single-content-wrapper">

                        <div class="main-top-content">
                            <div class="single-categories"><a href="#"
                                                              rel="category tag">editorial</a></div>
                            <h2 class="title">{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h2>
                            <div class="title-wrap">
                                <div class="date-post"> Posted on {{ page.date | date: "%B %-d, %Y" }}</div>
                            </div>
                        </div>


                        

                        
                         {{ content }}

                       

                        <div class="user-info-wrap">

                            <section class="post-author">
                               

                                <div class="post-author__content">
                                    <div class="post-name-wrap">
                                        <span class="post-author__nicename">Share this post</span>
                                    </div>

                                 

                                    <div class="post-author__social">
                                        <a href="" class="post-author__social-item"><i
                                                class="fa fa-facebook"></i></a>

                                        <a href="" class="post-author__social-item"><i
                                                class="fa fa-twitter"></i></a>

                                        <a href="https://linkedin.com/" class="post-author__social-item"><i
                                                class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        

                        

                    </div>
                    <div class="single-pagination">
                      {% if page.previous.url %}
                        <div class="pag-prev">
                                  <span>
                                     Previous post
                                    
                                                                  <a
                                          href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"
                                          class="content">
                                         {{page.previous.title}}                            </a>
                                    </span>
                                    
                        </div>
                         {% endif %}
                        {% if page.next.url %}
                        <div class="pag-next">
                                  <span>
                                    Next Post
                                                               <a
                                          href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="" class="content">
                                           {{page.next.title}}                             </a>
                                    </span>
                        </div>
                        {% endif %}
                    </div>

                    
